*.o
*.out
*.json
vpswebserver/dockerC/*.c
vpswebserver/dockerC/code/*.c
*.java
*.lock
*.env
vpswebserver/dockerC/Makefile
vpswebserver/dockerC/code/Makefile
vpswebserver/dockerJava/code/Makefile
.env
.DS_Store
monitorInDocker/.idea
monitorInDocker/venv
monitorInDocker/*.c
vpswebserver/dockerC/codeBak
vpswebserver/dockerJava/codeBak